<video class="main-header-video" autoplay="autoplay" loop="loop" muted="" >
  <source src="<perch:content id="mp4-main-video" type="file" label="MP4 Video" />" type="video/mp4" />
  <source src="<perch:content id="ogg-main-video" type="file" label="OGG Video" />" type="video/ogg" />
  <source src="<perch:content id="webm-main-video" type="file" label="WebM Video" />" type="video/webm" />
  Your browser doesn't support HTML5 video. Here's a <a href="<perch:content id="mp4-main-video" type="image" label="MP4 Video" supress="true"  />">link</a> to download the video.
</video>
