<img class="main-header-image crop-from-<perch:content id="main_header_image_class" label="Choose to anchor image to the top, center or bottom." type="select" options="Top,Center,Bottom" />" src="<perch:content id="main_header_image" type="image" width="2500"/>" alt="<perch:content id="alt" type="text" label="Image description"/>"
  sizes="100vw"
  srcset="<perch:content type="image" id="main_header_image" width="2200" /> 2200w,
          <perch:content type="image" id="main_header_image" width="1750" /> 1750w,
          <perch:content type="image" id="main_header_image" width="1150" /> 1150w,
          <perch:content type="image" id="main_header_image" width="950" /> 950w,
          <perch:content type="image" id="main_header_image" width="750" /> 750w,
          <perch:content type="image" id="main_header_image" width="550" /> 550w,
          <perch:content type="image" id="main_header_image" width="350" /> 350w">
