<perch:before>
<h1 class="featured-posts-heading">Featured Posts</h1>
<div class="featured-posts-wrapper">
</perch:before>
  <div class="featured-posts-div">
    <a class="featured-posts-image-link" href="<perch:blog id="postURL" />">
      <img class="featured-posts-image" src="<perch:blog id="blog-index-image" type="image" width="490" height="368" crop="true"/>" alt="<perch:blog id="postTitle" />" />
    </a>
    <h2 class="featured-posts-title">
      <a href="<perch:blog id="postURL" />">
        <perch:blog id="postTitle" />
      </a>
    </h2>
  </div>
<perch:after>
</div>
</perch:after>
