<article class="blog-article blog-index-listing">
  <h2 class="blog-index-listing-title">
    <a href="<perch:blog id="postURL" />">
      <perch:blog id="postTitle" />
    </a>
  </h2>
    <img class="blog-index-listing-image" src="<perch:blog id="blog-index-image" type="image" width="1100"  />" alt="<perch:blog id="postTitle" />"
    sizes="(max-width: 750px) 90vw,
             (max-width: 1100px) 80vw,
             (max-width: 1500px) 70vw, 60vw"
    srcset="<perch:blog type="image" id="blog-index-image" width="1350" /> 1350w,
            <perch:blog type="image" id="blog-index-image" width="1100" /> 1100w,
            <perch:blog type="image" id="blog-index-image" width="800" /> 800w,
            <perch:blog type="image" id="blog-index-image" width="600" /> 600w,
            <perch:blog type="image" id="blog-index-image" width="400" /> 400w">
  <perch:blog id="blog-index-excerpt" html="true" />
  <p class="blog-read-more-paragraph">
    <a class="blog-read-more-link" href="<perch:blog id="postURL" />">Continue reading...</a>
  </p>
</article>
<perch:after>
    <perch:if exists="paging">
        <div class="paging">
            Page <perch:blog id="current_page" /> of <perch:blog id="number_of_pages" />
            <perch:blog id="page_links" encode="false" />
            <perch:if exists="not_first_page">
                <a href="<perch:blog id="prev_url" encode="false" />">Previous</a>
            </perch:if>
            <perch:if exists="not_last_page">
                <a href="<perch:blog id="next_url" encode="false" />">Next</a>
            </perch:if>
        </div>
    </perch:if>
</perch:after>
