<perch:blog id="og_title" label="Social title." type="text" escape="true" help="No more that 36 characters. Don't include the site name, or full stop at the end." divider-before="Social Media Sharing" count="chars" />"
<perch:blog id="page-meta-description" label="Meta/Social description." help="Length between 150 and 160 characters." type="textarea" size="s" count="chars" escape="true" />
<perch:blog id="og_image" label="Image when shared." help="Should be at least 1200x630." type="image" width="1200" />
<perch:blog id="og_type" label="Facebook type." help="Usually this should be article." type="select" options="article,book,profile,website,video,music" allowempty="true" />
<perch:blog id="author_twitter" type="text" size="l" label="Twitter Id." />"
<perch:blog id="og_author" type="text" size="l" label="Facebook profile URL." />"
