<perch:gallery id="image" type="image" key="large" width="2000" />
<!-- Responsive options -->
<perch:gallery id="image" type="image" key="one" width="2000" />
<perch:gallery id="image" type="image" key="two" width="1600" />
<perch:gallery id="image" type="image" key="three" width="1100" />
<perch:gallery id="image" type="image" key="four" width="600" />
<!-- Index Images -->
<perch:gallery id="image" type="image" key="indexLarge" width="1600" height="1600" crop="true" />
<perch:gallery id="image" type="image" key="indexMedium" width="1100" height="1100" crop="true" />
<perch:gallery id="image" type="image" key="indexSmall" width="700" height="700" crop="true" />
<perch:gallery id="image" type="image" key="indexTiny" width="500" height="500" crop="true" />

<!-- Admin Thumbnail -->
<perch:gallery id="image" type="image" key="thumb" width="30" height="30" crop="true" />
<!-- Image alt -->
<perch:gallery id="image-alt" type="text" size="m" label="Image Alt Description"/>
<!-- Image Text -->
<perch:gallery id="image-sale-text" type="text" size="l" label="Text for buy this/find out more link." divider-before="For sale text"/>
<perch:gallery id="image-sale-link" type="text" size="l" label="Full URL to image sale/find out more page." />
