<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:site" content="<perch:pages id="twittername" type="text" size="l" label="Twitter Id" />" />
<meta name="twitter:title" content="<perch:pages id="page-meta-title" type="hidden" />" />
<meta name="twitter:description" content="<perch:pages id="page-meta-description" type="hidden"  />" />
<perch:if exists="og_image">
<meta property="twitter:image" content="<perch:pages id="domain" type="hidden" /><perch:pages id="og_image" type="image"  />" />
</perch:if>
<meta name="twitter:url" content="<perch:pages id="mainurl" type="hidden" />" />
